<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org" lang="PT-br">

<head>
	
</head>

<body>
	
    <footer  th:fragment="footer" class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">Sistema  cadastro de autor  crud simples feito com Spring boot</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 Copyright dev Jadson Eduardo
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>

	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>